<a href="https://colab.research.google.com/github/min-hee-Lee/python_workdemo/blob/master/p100_python_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python version 확인
!python --version

Python 3.8.10

In [ ]:
# python의 철학
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
import keyword
#keyword.kwlist(세로출력)
#print통해 출력하면 list로 가로출력됨.
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("Hello World")

Hello World

In [ ]:
#연달아서 출력할 경우 ;세미콜론으로 구분하거나 줄바꿈
print("python");print('python')

python
python

In [ ]:
# 조건식이나 블록처리를 :콜론으로 구분
# 줄바꿈으로 오류가 날 경우 \넣어주면 연결해준다는 뜻.
a = 10 ;  b = 20 
if(a==10) and \
(b==20) :
  print("OK")
else :
  print("No")

OK

In [ ]:
start=begin=1
#print(start) 여러 변수의 값을 출력할 때는 print
#print(begin)
start 
begin #변수만 적어줄 경우 제일 마지막에 있는 값만 출력됨.

1

In [ ]:
a=1
a=eval('3+4') #연산할 때는 ''묶어줘야함
print(a)

a=eval('a+3')
print(a) #앞에있는 값 a(7)와 3을 더해줌

7
10

## 자료형
1. 데이터 저장방법에 따른 자료형의 분류
  - 직접(direct)형 : 직접 데이터를 표현하는 자료형 : int, float, complex
  - 시퀀스(sequence)형 : 다른 데이터를 포함하는 자료형, 순서가 있는 집합 자료형 : list, str, tuple, bytes, bytearray, range
  - 매핑(Mapping)형 : 다른 데이터를 포함하는 자료형 : dict
  - 집합(Set)자료형 : 순서가 없고, 중복된 항목도 없다 : set, frozenset

####2. 변경 가능성에 따른 자료형 분류(중요)
  - 변경 가능형(Mutable) : 데이터의 값을 변경할 수 있다. : *list, dict, set*
  - 변경 불가능형(Immutable) : 데이터의 값을 변경할 수 없다. : int, float, complex, *str, tuple*, frozenset

3. 데이터 저장 개수에 따른 자료형 분류
  - 리터널(Literal/Scalar)형 : 한 가지 객체만 저장한다. : int, bytes, str, float, complex
  - 컨테이널(Container)형 : 여러가지 객체를 저장한다. : list, tuple, dict, set, frozenset

type() : 데이터 자료형 확인

In [ ]:
type(5)

int

In [ ]:
type(85.3)

float

In [ ]:
type([1,3,5])

list

In [ ]:
#tuple은 괄호 생략 가능
type((2, 6, 7))

tuple

In [ ]:
def call():
  return 2,3,4

print(call())
print(type(call()))

(2, 3, 4)
<class 'tuple'>

In [ ]:
#중괄호는 set
type({1,3,4})

set

dir( ) : 자료형의 내장함수를 검색할 수 있다.

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

help( ) : 자료형에서 제공하는 메소드 사용법을 검색할 수 있다.

In [ ]:
#help(str)
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

## Sequence 자료형
- Sequence는 여러 객체를 저장할 수 있는 순서를 갖는 연속된 자료형이다.
- 자료형 종류 : str, tuple, list
- sequence형의 공통적인 연산
  - 인덱스(indexing)
  - 슬라이싱(slicing)
  - 연결하기
  - 반복하기
  - 멤버 검사
  - 길이 정보

### 문자열(str)
- 문자열은 문자들을 표현하는 자료형으로 작은따옴표(')나 큰따옴표(")로 묶는다.
- 문자열의 슬라이싱 : [인덱스 시작 : 인덱스 끝 : 스텝]
- 스텝의 default는 1의 값을 갖는다.

In [ ]:
s_val = 'hello python!'
s_val[0:3]    #0번째 인덱스부터 3미만까지 가져와라

'hel'

In [ ]:
 s_val[1] #1인덱스 값을 가져와라

'e'

In [ ]:
s_val[1:]  #1인덱스부터 끝까지 가져와라

'ello python!'

In [ ]:
s_val[:3]  #0인덱스부터 3미만까지

'hel'

In [ ]:
s_val[:]  #전체 인덱스를 가져와라

'hello python!'

In [ ]:
s_val[-1] #끝에서 1번째

'!'

In [ ]:
s_val[-3:-1] #끝에서 3번쨰부터 1미만까지

'on'

In [ ]:
s_val[::2] #0인덱스부터 2스탭씩 읽어옴(한칸띄고)

'hlopto!'

In [ ]:
s_val[::-2]  #0인덱스부터 2스탭씩 역방향으로 읽어옴(한칸띄고)

'!otpolh'

In [ ]:
s_val[::-1]

'!nohtyp olleh'

In [ ]:
s_val[-1:-3:-1]  #-1에서 -3미만까지 / 스탭-1은 뒤 글자부터 역순으로 읽어옴

'!n'

In [ ]:
s_val[-3:-1:-1]  #이렇게 사용할 수 없음

''

In [ ]:
s_val[-3:-1:1] #1은 앞글자부터 읽어옴

'on'

문자열의 연결하기는 (+)연산자를 사용

In [ ]:
s_val2 = 'hello' + ' ' + 'python!'
s_val2

'hello python!'

문자열 반복하기는 (*)연산자를 사용

In [ ]:
s_val3 = 'win' * 3
s_val3

'winwinwin'

In [ ]:
#s_val3= 'win' * 'python'  #문자열과 문자열을 *할 수 없다.(문자와 숫자만 가능)
#s_val3

TypeError: ignored

문자열을 변경할 때 슬라이싱과 연결하기 사용

In [ ]:
s_val3 = 'hello python!'

In [ ]:
s_val4 = 'H' + s_val3[1:]
s_val4

'Hello python!'

문자열의 길이는 len( ) 내장함수 사용

In [ ]:
len(s_val4)

13

in 연산자로 멤버를 검사해 부분 문자열의 존재 확인

In [ ]:
s_val5 = 'red green blue'
'red' in s_val5  #red라는 문자열이 s_val5에 포함돼있는지 검사

True

In [ ]:
'white' in s_val5

False

여러 줄 문자열은 작은따옴표 또는 큰따옴표를 세 번 연속해서 입력

In [ ]:
s_val6 = ''' red
green
blue'''
s_val6

' red\ngreen\nblue'

문자열 서식지정 : 어떤 문서 양식을 만들어 놓고 빈칸에 필요한 내용을 채워서 문서를 지정한다.

In [ ]:
s_val7 = 'python'
s_val8 = 83.5
print('%s의 점수는 %f입니다.' % (s_val7, s_val8))  #python1,2방식
print('{}의 점수는 {}입니다.' .format(s_val7, s_val8))  #python3 방식 : 인덱스를 지정하지 않으면 순서대로 출력
print('{1}의 점수는 {0}입니다.' .format(s_val8, s_val7))  #인덱스를 지정하면 인덱스 값으로 출력
print('{subject}의 점수는 {jumsu}입니다.' .format(jumsu=s_val8, subject=s_val7))
print('{{0}}의 점수는 {1}입니다.' .format(s_val7, s_val8)) #x
print('{{{0}}}의 점수는 {1}입니다.' .format(s_val7, s_val8)) #o 변수의 값을 출력하면서 {}중괄호 자체를 출력할 때는 {{}}두개를 쓴다.
print('{0:<10}의 점수는 {1}입니다.' .format(s_val7, s_val8)) # 10자리 확보하고 남은 공간은 오른쪽 여백으로 채운다
print('{0:>10}의 점수는 {1}입니다.' .format(s_val7, s_val8)) # 10자리 확보하고 남은 공간은 왼쪽 여백으로 채운다
print('{:>10}의 점수는 {}입니다.' .format(s_val7, s_val8)) #인덱스값을 다 생략하든지 다 지정하든지 통일해야함

python의 점수는 83.500000입니다.
python의 점수는 83.5입니다.
python의 점수는 83.5입니다.
python의 점수는 83.5입니다.
{0}의 점수는 83.5입니다.
{python}의 점수는 83.5입니다.
python    의 점수는 83.5입니다.
    python의 점수는 83.5입니다.
    python의 점수는 83.5입니다.

### 리스트(list)
  - 시퀀스(Sequence) 자료형으로 데이터의 크기나 원소 값을 변경할 수 있다.
  - 리스트는 [ ]대괄호로 표현한다.

In [ ]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

java :
```java
class Test{
  public static void main(String[] args) {
    int[] arr = new int[] {1,2,3};
  }
} 
```

javascript : 
```javascript
  let color=['red','green','blue'];
```

In [ ]:
l_val=[10,20,30]
l_val

[10, 20, 30]

In [ ]:
print(type(l_val))
type(l_val)

<class 'list'>

list

리스트(list)는 슬라이싱을 이용해서 데이터를 접근할 수 있다

In [ ]:
l_val2 = [5,10,15,20,25,30]
l_val2[3]

20

In [ ]:
l_val2[0:3]

[5, 10, 15]

In [ ]:
l_val2[1:]

[10, 15, 20, 25, 30]

In [ ]:
l_val2[:3]

[5, 10, 15]

In [ ]:
l_val2[: ]

[5, 10, 15, 20, 25, 30]

In [ ]:
l_val2[::-1]

[30, 25, 20, 15, 10, 5]

In [ ]:
l_val2[-1:-3:-1]

[30, 25]

list는 다양한 타입을 함께 포함할 수 있다.

In [ ]:
l_val3 = [10,'python', 80.5, True]
l_val3

[10, 'python', 80.5, True]

In [ ]:
l_val3=[[10,20],(1,2,3), {100,200}] #배열 안에 배열, tuple, 
l_val3

[[10, 20], (1, 2, 3), {100, 200}]

list는 (+)연산자를 사용해 연결 할 수 있다.

In [ ]:
l_val4=[1,2]
l_val4 + l_val4

[1, 2, 1, 2]

In [ ]:
#l_val4 + 3

TypeError: ignored

list는 (*)연산자를 사용해 반복하기를 할 수 있다.

In [ ]:
l_val4 * 3

[1, 2, 1, 2, 1, 2]

list에 특정값이 있는지 멤버 검사를 할 수 있다.

In [ ]:
2 in l_val4

True

In [ ]:
5 in l_val4

False

list는 mutable이므로 요소들을 변경할 수 있다.

In [ ]:
l_val5 = ['apple','banana', 100, 200]
l_val5[0:2] = [1,2]  #0에서 2미만에 있는 값을 1,2로 변경해라
l_val5

[1, 2, 100, 200]

In [ ]:
l_val5[0:2] = [50] #크기가 달라도 가능
l_val5 #0에서 2미만 사이의 값을 모두 50으로 바꿔라(1,2가 50 하나로 바뀌므로 리스트의 크기가 바뀜)

[50, 100, 200]

list의 일부 요소를 삭제할 수 있다.

In [ ]:
l_val6 = ['apple','banana', 100, 200]
l_val6[0:2] = []  #요소 2개를 삭제한다
l_val6

[100, 200]

In [ ]:
l_val6 = ['apple','banana', 100, 200]
del l_val6[0:2]  #del문을 이용해서 요소를 삭제할 수 있다.
l_val6

[100, 200]

list에 요소를 추가 할 수 있다.

In [ ]:
l_val7 = [3,6,9]
l_val7

[3, 6, 9]

In [ ]:
l_val7[1:1] = ['red','green']  #슬라이싱 : 1인덱스에 크기가 달라도 2개값이 다 들어감.
l_val7

[3, 'red', 'green', 6, 9]

In [ ]:
l_val7 = [3,6,9]
l_val7

[3, 6, 9]

In [ ]:
l_val7[1] = ['red','green']  #인덱싱 : 1인덱스에 2개가 들어가므로 3인덱스 값이 지워짐
l_val7

[3, ['red', 'green'], 9]

list에서 확장슬라이싱을 사용할 때는 왼쪽과 오른쪽 요소 개수가 같아야 한다.

In [ ]:
l_val8 = [2,4,6,8]
l_val8

[2, 4, 6, 8]

In [ ]:
l_val8[::1]=[-1,-2,-3,-4] 
l_val8

[-1, -2, -3, -4]

In [ ]:
l_val8 = [2,4,6,8]
l_val8

[2, 4, 6, 8]

In [ ]:
# 왼쪽의 개수와 오른쪽의 개수가 다르므로 오류 발생
# 왼쪽의 l_val8[::2]결과는 [2,6] 2개의 요소이고 오른쪽은 4개의 요소이다.
#l_val8[::2]=[-1,-2,-3,-4] #2와 6만 가져오므로 size가 안맞음
#l_val8

ValueError: ignored

In [ ]:
l_val8[::2]=[-1,-2]  #0번째 인덱스와 2번째 인덱스에 교체
l_val8

[-1, 4, -2, 8]

list는 변수에서 데이터를 각각 꺼내 오는 언패킹(unpacking) 지원을 한다.

In [ ]:
l_val9=['foo', 'bar',4,5]
l_val9

['foo', 'bar', 4, 5]

In [ ]:
x,y,z,w = l_val9
print(x,y,z,w)

foo bar 4 5

In [ ]:
x,y,_,_= l_val9  #l_val9는 4개인데 2개만 꺼내올 수 없음/ 빈 자리도 채워줘야함
print(x,y)

foo bar

In [ ]:
x,y,*z= l_val9 #x,y외에 나머지 모두를 *z로 가져와라
print(x,y,z)

foo bar [4, 5]

In [ ]:
x,*y,z= l_val9 #앞의 x와 뒤의 z외에 나머지를 *y로 가져와라
print(x,y,z)

foo ['bar', 4] 5

In [ ]:
print(dir(l_val9))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### Tuple(튜플)
- 변경이 불가능(immutable)한 순서(sequence)가 있는 자료형이다.
- 튜플은 ()소괄호로 표현한다.

In [ ]:
t=()
t

()

tuple은 값 사이에 콤마(,)를 구분하여 사용한다.

In [ ]:
t_val=(10,20,30)
t_val

(10, 20, 30)

In [ ]:
t_val = 40, 50, 60 #tuple은 소괄호 생략해서도 표현 가능
t_val

(40, 50, 60)

In [ ]:
t_val2 = (1)
print(t_val2)
print(type(t_val2))

1
<class 'int'>

In [ ]:
# 요소가 한 개일 때는 반드시 쉼표(,)가 있어야 한다
# 괄호는 생략할 수 있지만 쉼표(,)는 있어야 한다.
t_val2 = (1,)
print(t_val2)
print(type(t_val2))

(1,)
<class 'tuple'>

In [ ]:
a = [1,2,]
a

[1, 2]

tuple은 immutable이므로 한 번 생성되면 요소를 변경할 수 없다.

In [ ]:
t_val3 = (1,2,3)
t_val3

(1, 2, 3)

In [ ]:
#t_val3[0] = 100 
#t_val3

TypeError: ignored

tuple은 다양한 타입을 함께 포함할 수 있다.

In [ ]:
t_val4 = (10, 'python', 80.5, True)
t_val4

(10, 'python', 80.5, True)

tuple은 인덱싱, 슬라이싱으로 각 요소에 접근할 수 있다.

In [ ]:
t_val5 = (5, 10, 15, 20, 25, 30)
t_val5

(5, 10, 15, 20, 25, 30)

In [ ]:
t_val5[3]  #인덱싱 : 특정 인덱스값에 접근

20

In [ ]:
t_val5[-1]  #인덱싱

30

In [ ]:
t_val5[0:2]  #슬라이싱

(5, 10)

In [ ]:
t_val5[::2] #확장 슬라이싱 : 스텝 지정할 수 있음

(5, 15, 25)

tuple은 (+)연산자를 사용하여 연결하기를 할 수 있다.

In [ ]:
t_val5 + t_val5

(5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30)

In [ ]:
# t_val5+ [1,2,3]  #(+)는 tuple끼리만 사용할 수 있다

TypeError: ignored

tuple은 (*)연산자를 사용하여 반복하기를 할 수 있다.

In [ ]:
t_val5 * 3 # 반복하기(*)는 성수값만 가능

(5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30)

tuple은 in 연산자를 사용하여 멤버검사를 할 수 있다.

In [ ]:
5 in t_val5  #멤버검사

True

In [ ]:
8 in t_val5  #멤버검사

False

tuple은 검색에 관련된 count(), index()메서드 2개를 제공한다.

In [ ]:
t_val6 = (1,2,3,2,2,3)
t_val6

(1, 2, 3, 2, 2, 3)

In [ ]:
len(t_val6)  #요소 전체 개수 리턴(str,list 어느때나 사용가능한 함수)

6

In [ ]:
t_val6.count(2) #2요소의 개수를 리턴하는 메서드

3

In [ ]:
t_val6.index(2)  #2요소가 있는 첫 번째 인덱스 값을 리턴하는 메서드

1

In [ ]:
t_val6.index(2,2) #2요소가 있는 두 번째 인덱스 값을 리턴

3

tuple은 중첩해서 사용할 수 있다.

In [ ]:
t_val7 = ('python', (1,2,3), [4,5,])
t_val7

('python', (1, 2, 3), [4, 5])

tuple은 한 변수에 요소를 각각 꺼내오는 언패킹(unpacking)을 지원 한다.

In [ ]:
t_val8 = (10,20,30)
t_val8

(10, 20, 30)

In [ ]:
l,m,n = t_val8
print(l,m,n)

10 20 30

In [ ]:
t_val9 = ((1,2),(3,4))
t_val9

((1, 2), (3, 4))

In [ ]:
x,y = t_val9
print(x)
print(y)

(1, 2)
(3, 4)

In [ ]:
(x1,y1),(x2,y2) = t_val9
print(x1)
print(y1)
print(x2)
print(y2)

1
2
3
4

In [ ]:
t_val10 = (1,2,3,4,5,6,8,9,10)
t_val10

(1, 2, 3, 4, 5, 6, 8, 9, 10)

In [ ]:
a, *b = t_val10  #a외에 나머지는 *b에 담아서 리턴/*로 지정하면 list로 가져옴
print(a, type(a))
print(b, type(b))

1 <class 'int'>
[2, 3, 4, 5, 6, 8, 9, 10] <class 'list'>

In [ ]:
a, *b, c = t_val10
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 8, 9]
10

In [ ]:
*a, b, c = t_val10  #*가 어느자리에 와도 상관없음
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6, 8]
9
10

In [ ]:
# *기호는 한 번만 사용해야 한다.
#a, *b, *c = t_val10  #*를 두개 이상을 쓸 수는 없음
#print(a)
#print(b)
#print(c)

SyntaxError: ignored

### tuple과 list 비교
- 공통점
  - 임의의 객체를 저장할 수 있고 순서(sequence) 자료형이다.(순서가 유지된다)
- 차이점
  - tuple은 변경 불가능(immutable)한 자료형이다.
  - list는 변경 가능(mutable)한 자료형이다.

tuple을 list()함수를 이용해서 list 자료형으로 생성할 수 있다.

In [ ]:
t_data = (1,2,3)
print(t_data)
print(type(t_data))

(1, 2, 3)
<class 'tuple'>

In [ ]:
# tuple을 list로 변경
l_data = list(t_data)
print(l_data)
print(type(l_data))

[1, 2, 3]
<class 'list'>

str자료형의 요소를 list( )함수를 이용해서 list자료형으로 생성할 수 있다.

In [ ]:
s_data = 'python'
print(s_data)
print(type(s_data))

python
<class 'str'>

In [ ]:
# 다른 타입을 list로 받아올 수 있다.
list(s_data)

['p', 'y', 't', 'h', 'o', 'n']

list의 요소를 tuple()함수를 이용해서 tuple을 생성할 수 있다.

In [ ]:
l_arg = [1,2,3,4,5]
print(l_arg)
print(type(l_arg))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
t_arg = tuple(l_arg)
print(t_arg)
print(type(t_arg))

(1, 2, 3, 4, 5)
<class 'tuple'>

str자료형의 요소를 tuple() 함수를 사용해서 tuple을 생성할 수 있다.

In [ ]:
s_arg = 'python'
print(s_arg)
print(type(s_arg))

python
<class 'str'>

In [ ]:
t_arg = tuple(s_arg)
print(t_arg)
print(type(t_arg))

('p', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>

### 집합(sets)
- 집합은 여러 값을 순서가 없고 중복없이 모아놓은 자료형이다.
- python에서는 set와 frozenset 두 가지 집합 자료형을 제공한다.
- set은 변경 가능한 집합이고, frozenset은 변경 불가능한 자료형이다.
- set은 set()으로 표현한다.({}중괄호는 사용할 수 없다)

In [ ]:
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [ ]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

집합(set)
- 멤버십(원소와 집합사이의 귀속관계)검사, 시퀀스에서의 중복제거와 교집합, 합집합, 차집합같은 수학 연산 수행에 사용된다.
- 다른 시퀀스(sequence)와 마찬가지로 x in set, len(), 컴프리헨션과 같은 기능을 제공하지만 삽입순서를 기록하지는 않는다.따라서 ***인덱싱과 슬라이싱은 사용이 불가능하다.***
- 반복 가능한(literable)객체로 부터 집합을 만들 수 있지만 모든 데이터가 원소로 사용할수 있는 것은 아니다. 해시기능(Hashable)이면서 변경 불가능한 자료형만이 집합의 원소로 사용가능하다.

In [ ]:
set((3,1,2))   #set생성 / tuple로 집합을 생성하며 오름차순으로 정렬한다.

{1, 2, 3}

In [ ]:
a = (3,1,2)
set(a)

{1, 2, 3}

In [ ]:
set([3,1,2])  #list로 집합을 생성하며 오름차순으로 정렬한다

{1, 2, 3}

In [ ]:
b = [3,1,2]
s_val = set(b)
print(s_val)

{1, 2, 3}

In [ ]:
b[1]=10
print(b)

[3, 10, 2]

In [ ]:
s_val  #deep copy로 생성하므로 원래 요소 그대로 출력한다.(주소만 복사해서 변경했으므로 요소값은 변경안됨)

{1, 2, 3}

In [ ]:
set('python') #str로 집합을 생성하며 오름차순으로 정렬한다.

{'h', 'n', 'o', 'p', 't', 'y'}

In [ ]:
set((3,1,2,2,3,2,4))  #중복된 원소는 한 번만 표현한다.

{1, 2, 3, 4}

In [ ]:
set('python hello') #중복된 원소는 한 번만 표현한다.

{' ', 'e', 'h', 'l', 'n', 'o', 'p', 't', 'y'}

In [ ]:
set({'one':1, 'two':2})  #dict자료형으로 생성하면 키 값만 반환한다.

{'one', 'two'}

In [ ]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

### frozenset
- 값을 변경하지 않는 범위에서 set객체와 동일하게 동작한다.
- frozenset 객체의 생성은 집합을 포함한 반복 가능한 자료형으로 부터 가능하다.
- frozenset은 frozenset()으로 생성한다.

In [ ]:
f_val = frozenset();
print(f_val)
print(type(f_val))

frozenset()
<class 'frozenset'>

In [ ]:
f_val2 = frozenset([1,2,3,4,5])
print(f_val2)
print(type(f_val2))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [ ]:
print(dir(frozenset))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

### dict(사전)
- 특정 키를 주면 이와 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형이다.
- 데이터의 저장 순서가 없다.
- 내부적으로 해시 기법을 사용하기 때문에 검색 속도가 빠르다.
- key-value 형식으로 저장을 하기 때문에 key를 이용해서 value에 접근한다.
- key값은 중복을 허용하지 않는다.

dict 생성은 {} 또는 dict()함수를 사용해서 생성할 수 있다.

In [ ]:
d_val = {'one':1, 'two':2}
print(d_val)
print(type(d_val))

{'one': 1, 'two': 2}
<class 'dict'>

In [ ]:
d_val2 = dict(one=1, two=2)  #dict()함수를 사용해서 생성할 때 키를 작은따옴표'one' 또는 큰따옴표"one"를 사용하지 않는다.
print(d_val2)
print(type(d_val2))

{'one': 1, 'two': 2}
<class 'dict'>

zip함수를 이용해서 dict(사전)를 생성할 수 있다.

In [ ]:
keys = ['one','two','three']
values = [1,2,3]
d_val3 = dict(zip(keys, values))
print(d_val3)
print(type(d_val3))

{'one': 1, 'two': 2, 'three': 3}
<class 'dict'>

In [ ]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

mutable : list, set, dict  
immutable : str, tuple, set  
sequence : list, tuple, str