<a href="https://colab.research.google.com/github/min-hee-Lee/python_workdemo/blob/master/p101_python_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
if a>0 : 
  print('Yes')
  print('OK')
else :
  print('No')
  print('Fail') #들여쓰기를 맞춰서 해야 같은 조건으로 인식

Yes
OK

### existance
python에서 조건은 존재론(existance)적이다. ->truthy, falsy

In [ ]:
#0은 숫자가 없는 것과 같음 -> falsy
a = 0.0
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
#None은 객체가 없는 것과 같음 -> falsy
a = None
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
#비어 있는 dict는 없는 것과 같음 -> falsy
a = {}
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
# 인스턴스 방식으로 값을 만들 때 괄호 안이 비어 있으면 비어 있는 값을 만든다.
# if에서 모두 false이다. -> falsy
a = int()
b = float()
c = complex()
d = list()

In [ ]:
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
3<2 or 4<5

True

In [ ]:
# (3과 4는 존재론적으로 true이므로 true and true 이면 뒤 값을 리턴해준다.)
# and는 앞이 True이면 뒤에 값을 수행한다.
# 3은 존재론적으로 True
3 and 4

4

In [ ]:
# and는 앞이 False이면 앞의 값을 반환한다.(앞이 false이면 뒤의 값을 수행하지 않음)
# 비어 있는 문자열은 없는 것과 같다. -> falsy
"" and 4

''

In [ ]:
0 and 4

0

In [ ]:
# or는 and의 반대(앞이 false여도 뒤의 값 수행)
# 앞이 true이면 앞, 앞이 false이면 뒤의 값을 반환한다.
"" or 4

4

In [ ]:
# or는 앞이 true이면 뒤의 값을 수행할 필요 없음
1 or 4

1

In [ ]:
# 모든 조건식에 문장을 사용할 수 없다.
#if a=4:
#  print('Yes')

SyntaxError: ignored

In [ ]:
#반복문 for in 을 이용해 리스트를 값을 각각 가져올 수 있다
for v in [1,2,3,4,5]:
  print(v)

1
2
3
4
5

In [ ]:
a=3;
while a>0:
  print(a)
  break;

3

In [ ]:
#list안에 tuple저장
t = [('one',1),('two',2)]
for k in t:
  print(k, type(k))

('one', 1) <class 'tuple'>
('two', 2) <class 'tuple'>

In [ ]:
t = [('one',1),('two',2)]
for k,v in t:
  print(k,v)
  print(type(k), type(v))

one 1
<class 'str'> <class 'int'>
two 2
<class 'str'> <class 'int'>

In [ ]:
dic={'a':1, 'b':2}
for k in dic:
  print(k, type(k)) #dict는 key만 가져온다

a <class 'str'>
b <class 'str'>

In [ ]:
dic={'a':1, 'b':2}
for k in dic:
  print(k, dic[k])

a 1
b 2

In [ ]:
type(dic)

dict

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
dir(dic)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
print(len(dir(dict)), len(dir(dic)))

41 41

In [ ]:
dic.__doc__  #dic에 대한 설명

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

### 반복문
반복문에서 else는 반복문이 완벽하게 끝났을 때 실행된다.  
대부분의 프로그래밍 언어는 while과 for를 지원한다.

In [ ]:
# 아래는 while문이 완벽히 돌았으므로 end가 출력된다.
a = 10

while a>5:
  a -= 1
  print(a)
else:
  print('end')

9
8
7
6
5
end

In [ ]:
# break는 반복문을 중단시킨다.
# break가 실행되면 반복문이 완벽하게 실행된 것이 아니므로 else가 실행되지 않는다.
a = 10

while a>5:
  a -= 1
  if a==6:
    break #중간에 중단시킴
  print(a)
else:
  print('end') #이런 경우 else를 수행하지 않음

9
8
7

In [ ]:
# continue는 다음 루프로 바로 넘어간다.
# 반복문을 중단하지는 않으므로 else문이 실행된다.
a = 10

while a>5:
  a -= 1
  if a==6:
    continue #이동시킴
  print(a)
else:
  print('end')

9
8
7
5
end

for 변수 in iterable(list, dict, set) :  
  실행구문

### for문과 함께 사용되는 함수 3가지

for 변수 in range(시작번호. 마지막번호, 증감값):  
  실행구문

for 변수 in enumerate(sequence, start):  
  실행구문 

for 변수 in zip(data1, data2...):  
  실행구문

### range

In [ ]:
for i in range(1,6): #1에서 6미만의 값을 생성해라
  print(i)

1
2
3
4
5

#### enumerate 함수
  - enumerate()함수는 인덱스와 객체를 동시에 저장할 수 있는 특징을 가진 for문을 좀 더 효율적으로 사용하기 위한 함수이다.
  -enumerate()함수는 순서자료형(list, tuple, str)을 입력으로 받아 인덱스를 포함하는 enumerate 객체를 리턴한다.
  - enumerate([순서자료형], [시작값=0])의 형식을 가지며 순서자료형은 반복자가 가능한 객체가 입력되고 시작값은 입력 시 해당 수부터 증가하며, 생략했을 경우 기본값은 0이다.

In [ ]:
for k in enumerate(['apple', 'python', 'microsoft']): #enumerate로 입력한 값은 tuple로 리턴됨
  print(k, type(k))

(0, 'apple') <class 'tuple'>
(1, 'python') <class 'tuple'>
(2, 'microsoft') <class 'tuple'>

In [ ]:
for k, v in enumerate(['apple', 'python', 'microsoft']): #enumerate로 객체를 생성할 수 있음
  print(k,v)

0 apple
1 python
2 microsoft

In [ ]:
for k in enumerate(['apple', 'python', 'microsoft'], 1): # 시작 인덱스값이 1부터 시작
  print(k, type(k))

(1, 'apple') <class 'tuple'>
(2, 'python') <class 'tuple'>
(3, 'microsoft') <class 'tuple'>

### zip함수
- 매개인자로 여러 목록을 받아 각 목록의 요소를 튜플에 담아 목록에 저정한다.

In [ ]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e'] #a와 b의 항목 개수가 같다

for x in zip(a,b):
  print(x)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [ ]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e'] 

for x,y in zip(a,b):
  print(x,y)  #따로 받아온다

1 a
2 b
3 c
4 d
5 e

In [ ]:
# 그룹으로 설정할 데이터의 요소 길이가 다르면 가장 짧은 데이터 길이만큼 그룹을 설정한다.
a = [1,2,3,4,5]
b = ['a','b','c','d'] #a와 b의 항목 개수가 다르면 짧은 개수만큼 처리된다

for x in zip(a,b):
  print(x)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [ ]:
a = [1,2,3,4]
b = ['a','b','c','d','e'] #a와 b의 항목 개수가 다르면 짧은 개수만큼 처리된다

for x in zip(a,b):
  print(x)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

### Comprehension

list set dict => 공통점 mutable  

list 생성할 때: 기호[], 함수list() 사용  
set 생성할 때 : 함수set() 사용  
dict 생성할 때 : 기호{}, dict{} 사용  

comprehension 이란 iterable(반복가능)한 오브젝트를 생성하기 위한 방법 가운데 하나이다.  
comprehension으로 list, set, dict객체를 생성할 수 있다.
- List Comprehension(LC)
- Set Comprehension(SC)
- Dict Comprehension(DC)

### List Comprehension
- 가장 많이 사용
- 리스트 정의 시 값을 정하지 않고 호출 시 리스트 내의 값들이 처리되도록 구성
- A = [표현식 for in sequence if 논리식]

In [ ]:
s = []
for x in range(10):  #0부터 10 미만의 데이터 생성
  s.append(x**2) #거듭제곱

print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

위의 식을 간단하게 comprehension으로

In [ ]:
s = [ x**2 for x in range(10)]
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
k=[]
for i in range(1,3):
  for j in range(4,8):
    #print('{}  {}'.format(i,j))
    k.append((i,j))
print(k)

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

위의 식을 list comprehension으로

In [ ]:
k=[]
k=[(i,j) for i in range(1,3) for j in range(4,8)]
k

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

In [ ]:
k=[]
for i in range(1,3):
  for j in range(4,8):
    if(j %2 ==0) : #j에 짝수만 저장하겠다
      k.append((i,j))
print(k)

[(1, 4), (1, 6), (2, 4), (2, 6)]

In [ ]:
k=[]
k=[(i,j) for i in range(1,3) for j in range(4,8) if(j %2 ==0)]
k

[(1, 4), (1, 6), (2, 4), (2, 6)]

In [ ]:
# list comprehension에서 함수 내부 로직에서 외부변수를 참조할 때 모든 순환이 된 결과를 참조
h = [ lambda x : x + n for n in range(5)]
print(h)
print(len(h)) #0,1,2,3,4 = 5개

for i in h :
  print(i(0)) #마지막 값 4만 5개 출력됨

[<function <listcomp>.<lambda> at 0x7f545207f430>, <function <listcomp>.<lambda> at 0x7f545207f160>, <function <listcomp>.<lambda> at 0x7f545207ff70>, <function <listcomp>.<lambda> at 0x7f545207f310>, <function <listcomp>.<lambda> at 0x7f545207f4c0>]
5
4
4
4
4
4

In [ ]:
#list comprehension에 있는 변수를 함수의 파라미터 초기값으로 세팅하면 원하는 숫자대로 처리된다.
h = [ lambda x, n=n : x + n for n in range(5)]
print(h)
print(len(h)) #0,1,2,3,4 = 5개

for i in h :
  print(i(0)) #원하는대로 0,1,2,3,4 = 5개가 출력된다

[<function <listcomp>.<lambda> at 0x7f5452149af0>, <function <listcomp>.<lambda> at 0x7f545207fca0>, <function <listcomp>.<lambda> at 0x7f545207fd30>, <function <listcomp>.<lambda> at 0x7f545207f820>, <function <listcomp>.<lambda> at 0x7f545207fa60>]
5
0
1
2
3
4

dict comprehension
- 사전 정의 시 값을 정하지 않고 호출 시 사전 내의 값들이 처리되도록 구성
- A = {표현식 for (k,v) in sequence if 논리식}

In [ ]:
d = {}
for(k,v) in zip(range(9), range(9)):
   d[k]=v
print(d)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [ ]:
d = { k:v for(k,v) in zip(range(9), range(9))}
print(d)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [ ]:
a = {'x':1, 'y':2, 'z':3}
b = {'w':10, 'x':11, 'y':2}
print(a.keys(), b.keys())
print(type(a.keys()))  #dict_keys

c = {key:a[key] for key in a.keys() - b.keys()}
print(c)

dict_keys(['x', 'y', 'z']) dict_keys(['w', 'x', 'y'])
<class 'dict_keys'>
{'z': 3}

In [ ]:
k={i:j for i in range(1,3) for j in range(4,8)}
print(k)
print(type(k))

{1: 7, 2: 7}
<class 'dict'>

Set Comprehension
- Set 정의 시 값을 정하지 않고 호출 시 Set 내의 값들이 처리되도록 구성
- A = [표현식 for in sequence if 논리식}

In [ ]:
k={(i,j) for i in range(1,3) for j in range(4,8)}
print(k)
print(type(k))

{(2, 4), (2, 7), (1, 5), (1, 4), (1, 7), (2, 6), (1, 6), (2, 5)}
<class 'set'>

In [ ]:
s = set()
for i in range(10):
  s.add(i)  #set에서 추가할 때 add
print(s)
print(type(s))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [ ]:
s = {i for i in range(10)}  #:콜론 넣어주면 dict로 처리
print(s)
print(type(s))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>