<a href="https://colab.research.google.com/github/min-hee-Lee/python_workdemo/blob/master/p404_pandas_pivot%EA%B3%BC_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###구글 코랩에서 한글 문제 해결
- 아래 코드 설치를 한다
- 코랩 런타임 -> 런타임 다시 시작을 수행한다.

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20180306-3).
The following package was automatically installed and is no longer required:
  libnvidia-common-510
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 21 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

### 구글 드라이브 연동

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/python/data

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/python/data

In [ ]:
!pip install folium
!pip install missingno

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: folium in /usr/local/lib/python3.8/dist-packages (0.12.1.post1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from folium) (2.25.1)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from folium) (0.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from folium) (1.21.6)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.8/dist-packages (from folium) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->folium) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->folium) (4.0.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingno in /usr/local/lib/python3.8/dist-packages (0.5.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from missingno) (1.7.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (from missingno) (0.11.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from missingno) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from missingno) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/dist-packages (from seaborn->missingno) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->seaborn->missingno) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->missingno) (1.15.0)

In [ ]:
#반드시 있어야되는것
import numpy as np
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#설치 후 import
import missingno as msno
import folium

In [ ]:
#colab
plt.rc('font', family='NanumBarunGothic')

In [ ]:
kmovies = pd.DataFrame({'MovieID':['1193','1194','1195'],
                        'Title':['디바','무림의 고수','정직한 후보'],
                        'Genres':['드라마','액션','코미디']})


kusers= pd.DataFrame({'UserID':[1,2,3,4,5],
                      'Gender':['F','M','M','F','M'],
                      'Age':[13,56,25,33,43]})


kratings= pd.DataFrame({'UserID':[1,1,1,2,2,2,3,3,3,4,4,4],
                        'MovieID':['1193','1194','1195','1193','1194','1195','1193','1194','1195','1193','1194','1195'],
                        'Rating':[2,5,None,3,1,5,None,2,5,5,None,3]})

In [ ]:
print(type(kmovies))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
kmovies

  MovieID   Title Genres
0    1193      디바    드라마
1    1194  무림의 고수     액션
2    1195  정직한 후보    코미디

In [ ]:
kusers

   UserID Gender  Age
0       1      F   13
1       2      M   56
2       3      M   25
3       4      F   33
4       5      M   43

In [ ]:
kratings

    UserID MovieID  Rating
0        1    1193     2.0
1        1    1194     5.0
2        1    1195     NaN
3        2    1193     3.0
4        2    1194     1.0
5        2    1195     5.0
6        3    1193     NaN
7        3    1194     2.0
8        3    1195     5.0
9        4    1193     5.0
10       4    1194     NaN
11       4    1195     3.0

In [ ]:
kdata = kratings.merge(kusers).merge(kmovies)
kdata

    UserID MovieID  Rating Gender  Age   Title Genres
0        1    1193     2.0      F   13      디바    드라마
1        2    1193     3.0      M   56      디바    드라마
2        3    1193     NaN      M   25      디바    드라마
3        4    1193     5.0      F   33      디바    드라마
4        1    1194     5.0      F   13  무림의 고수     액션
5        2    1194     1.0      M   56  무림의 고수     액션
6        3    1194     2.0      M   25  무림의 고수     액션
7        4    1194     NaN      F   33  무림의 고수     액션
8        1    1195     NaN      F   13  정직한 후보    코미디
9        2    1195     5.0      M   56  정직한 후보    코미디
10       3    1195     5.0      M   25  정직한 후보    코미디
11       4    1195     3.0      F   33  정직한 후보    코미디

In [ ]:
krecom_data = kdata[['UserID', 'MovieID', 'Rating']].copy()
krecom_data

    UserID MovieID  Rating
0        1    1193     2.0
1        2    1193     3.0
2        3    1193     NaN
3        4    1193     5.0
4        1    1194     5.0
5        2    1194     1.0
6        3    1194     2.0
7        4    1194     NaN
8        1    1195     NaN
9        2    1195     5.0
10       3    1195     5.0
11       4    1195     3.0

### pivot
- 각 컬럼의 값을 교차테이블 구성요소로 전달, 교차테이블 완성
- index, columns, values 컬럼을 각각 전달
- 요약기능 없음
- dataframe.pivot(index,columns,values)

In [ ]:
krecom_pivot = krecom_data.pivot(index='UserID', columns='MovieID', values='Rating')
krecom_pivot

MovieID  1193  1194  1195
UserID
1         2.0   5.0   NaN
2         3.0   1.0   5.0
3         NaN   2.0   5.0
4         5.0   NaN   3.0

In [ ]:
# inplace=True는 실제 데이터에 변경사항이 적용된다.

#krecom_pivot.fillna(method='ffill') #method='ffill' or method='pad'  # 결측값을 앞에 있는걸로 채워라
#krecom_pivot.fillna(method='bfill')  #method='bfill' or method=backfill' #결측값을 뒤에 있는 걸로 채워라
#krecom_pivot.fillna(krecom_pivot.mean(), axis=1)  #결측값을 평균을 내서 채워라
krecom_pivot.fillna(0, inplace=True)  #결측값을 0으로 채워라(null값을 0으로 채워줘라)

In [ ]:
krecom_pivot

MovieID  1193  1194  1195
UserID
1         2.0   5.0   0.0
2         3.0   1.0   5.0
3         0.0   2.0   5.0
4         5.0   0.0   3.0

### pivot_table
- pivot 기능과 유사, 더 많은 옵션 사용 가능
- index,columns,values 컬럼을 각각 전달
- aggfunc 옵션을 사용해 요약 기능 전달 가능(기본은 평균)
- full_value옵션 사용해 NA값 대체 가능
- dataframe.pivot_table(index, columns, values, aggfunc='mean', fill_value)

In [ ]:
#최소값 구하기
krecom_pivot_table = krecom_data.pivot_table(index='UserID', columns='MovieID', values='Rating', aggfunc='min', fill_value=0)
krecom_pivot_table

MovieID  1193  1194  1195
UserID
1           2     5     0
2           3     1     5
3           0     2     5
4           5     0     3

In [ ]:
df = pd.DataFrame(data= {'A':['foo', 'foo', 'foo', 'foo', 'foo', 'bar', 'bar', 'bar', 'bar'],
                         'B':['one', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'tow'],
                         'C':['small', 'large', 'large', 'small', 'small', 'large', 'small', 'small', 'large'],
                         'D':[1, 2, 2, 3, 3, 4, 5, 6, 7],
                         'E':[2, 4, 5, 5, 6, 6, 8, 9, 9]})
print(df)

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  tow  large  7  9

In [ ]:
#그룹별 평균 구하기
table = pd.pivot_table(df, values=['D','E'], index=['A','C'])
table

                  D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

In [ ]:
table = pd.pivot_table(df, values=['D','E'], index=['A', 'C'], aggfunc={'D' : np.mean,              #D의 평균값
                                                                        'E':[min, max, np.mean]})   #E의 최소값, 최대값, 평균값
table

                  D    E
               mean  max      mean  min
A   C
bar large  5.500000  9.0  7.500000  6.0
    small  5.500000  9.0  8.500000  8.0
foo large  2.000000  5.0  4.500000  4.0
    small  2.333333  6.0  4.333333  2.0

In [ ]:
a = np.array([5,8,9,2])

In [ ]:
np.min(a)  #최소값 리턴

2

In [ ]:
np.max(a)  #최대값 리턴

9

In [ ]:
np.argmin(a)  #최소값이 있는 인덱스 리턴

3

In [ ]:
np.argmax(a)  #최대값이 있는 인덱스 리턴

2

### stack
- unstack은 index를 column으로 만들어준다.
- stack은 column을 index로 만들어 준다.
- 이미지 참고 : https://www.w3resource.com/pandas/dataframe/dataframe-stack.php

In [ ]:
df_single_level_no_index = pd.DataFrame([[0,2],[3,4]],
                                        columns=['weight', 'height'])
df_single_level_no_index

   weight  height
0       0       2
1       3       4

In [ ]:
df_single_level_no_index.stack()

0  weight    0
   height    2
1  weight    3
   height    4
dtype: int64

In [ ]:
df_single_level_no_index.stack().unstack()

   weight  height
0       0       2
1       3       4

In [ ]:
df_single_level_cols = pd.DataFrame([[0,2],[3,4]],
                                    index=['deer','monkey'],
                                    columns=['weight', 'height'])
df_single_level_cols

        weight  height
deer         0       2
monkey       3       4

In [ ]:
df_single_level_cols.stack()

deer    weight    0
        height    2
monkey  weight    3
        height    4
dtype: int64

In [ ]:
df_single_level_cols.stack().unstack()

        weight  height
deer         0       2
monkey       3       4

In [ ]:
multicol1 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('weight', 'pounds')])
df_multi_level_cols1 = pd.DataFrame([[3, 4], [4, 5]],
                                    index=['deer', 'monkey'],
                                    columns=multicol1)
df_multi_level_cols1

       weight
           kg pounds
deer        3      4
monkey      4      5

In [ ]:
df_multi_level_cols1.stack()

               weight
deer   kg           3
       pounds       4
monkey kg           4
       pounds       5

In [ ]:
#결과는 위와 같음
df_multi_level_cols1.stack(1)

               weight
deer   kg           3
       pounds       4
monkey kg           4
       pounds       5

In [ ]:
df_multi_level_cols1.stack(0)

               kg  pounds
deer   weight   3       4
monkey weight   4       5

In [ ]:
df_multi_level_cols1.stack(0).unstack()

           kg pounds
       weight weight
deer        3      4
monkey      4      5

In [ ]:
# swaplevel 열이나 행 레벨 바꾸기 (axis=1 열(컬럼) / axis=0 행(인덱스))
swap = df_multi_level_cols1.stack(0).unstack()
swap.swaplevel(0,1, axis=1) #column의 계층(level) 순서 변경

       weight
           kg pounds
deer        3      4
monkey      4      5